<?xml version="1.0"?>
<!--
/**
 * Category Images Export
 *
 * @category Internship
 * @package Internship\CategoryImagesExport
 * @author Andrii Tomkiv <tomkivandrii18@gmail.com>
 * @copyright 2024 tomk1v
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Internship_CategoryImagesExport::home" title="Category Images Export"
             module="Internship_CategoryImagesExport" sortOrder="20" action="images_export/index/index"
             resource="Magento_Backend::system" parent="Magento_Backend::system_convert"/>
    </menu>
</config>
